bosdyn-client==4.0.3
bosdyn-mission==4.0.3
bosdyn-choreography-client==4.0.3
# I prefer conda (qt backbone)
#opencv-contrib-python>=4.6.0.66
#opencv-python>=4.6.0.66
pyqt5
aiortc
numpy
Pillow
requests
scipy
matplotlib
pylsd-nova
pyrender
trimesh

# pytorch
# GPU version (default)
#--find-links https://download.pytorch.org/whl/cu121
# CPU version
#--find-links https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# yolo v7
yolov7detect

# SAM
# git+https://github.com/facebookresearch/segment-anything.git
